<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap and Plotly scripts -->
    {% load static %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Project</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'data_tab' %}">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'descriptive_statistics_tab' %}">Descriptive Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'exploratory_data_analysis_tab' %}">Exploratory Data Analysis</a>
              </li>
              <li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'predict' %}">Predict</a>
              </li>
              <li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_view' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'report' %}">Report</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<div class="container pb-5">

    <!-- Pie Chart -->
    <div class="container">
        <!-- Plotly Pie plot container -->
        <div id="box-plot-container">{{ plot_html_pie|safe }}</div>
    </div>

    <!-- Histogram -->
    <div class="container">
        <!-- Plotly histogram container -->
        <div id="histogram-plot-container">{{ plot_html|safe }}</div>
    </div>

    <!-- Box Plot -->
    <div class="container">
        <!-- Plotly box plot container -->
        <div id="box-plot-container">{{ box_plot_html|safe }}</div>
    </div>

    <!-- Scatter Plot -->
    <div class="container">
        <!-- Plotly Scatter plot container -->
        <div id="box-plot-container">{{ plot_html_scatter|safe }}</div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
